.car-list-item-image {
  width: 120px;
  margin: 5px;
}

.car-head-name {
  font-size: larger;
  font-weight: bold;
}

.car-list li {
  list-style-type: none;
  text-align: left;
}

.car-detail-link {
  margin-top: 5px;
}

.car-compressed-data {
  margin-top: 5px;
}

.car-container {
  border: 1px solid #ededed;
  margin: 5px;
  padding-top: 5px;
}
