.car-details-head-name {
  font-size: larger;
  font-weight: bold;
  margin: 10px;
}

.car-details-compressed-desc {
  margin: 10px;
}

.car-details-desc {
  margin: 10px;
}

.car-details-favorites-box {
  margin: 5px;
}

.car-details-favorites-button {
  min-width: 80px;
}
